@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #9373ee
    ),
    'success': (
      'base': #2fad44
    ),
    'warning': (
      'base': #ed6a0b
    ),
    'danger': (
      'base': #e60800
    ),
    'error': (
      'base': #db2828
    ),
    'info': (
      'base': #909aa3
    )
  )
);

@use 'element-plus/theme-chalk/src/index.scss' as *;

// // 暗黑模式
@use 'element-plus/theme-chalk/dark/css-vars.css' as *;

$color-primary: var(--el-color-primary);

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2;
}

.dark::view-transition-old(root) {
  z-index: 2;
}

.dark::view-transition-new(root) {
  z-index: 1;
}

:root{

  --el-searchForm-bg-color:#ffffff;
  --el-table-special-bg-color:#f9f9f9;
  --el-menu-border-color:none;
  --el-menu-item-height:50px;
  --el-color-primary-light-9:#F4F4F4;
  --theme-border-color-light: #f1f2f3;
  --theme-table-bg-color:#ffffff;
  --theme-common-bg-color:#ffffff;
  
}

html.dark {
  --el-searchForm-bg-color:#000000;
  --el-table-special-bg-color:#1d1e1f;
  --el-color-primary-light-9:#18222c;
  --theme-border-color-light: var(--el-border-color-dark);
  --theme-table-bg-color:#000000;
  --theme-common-bg-color:#000000;

}

.el-table thead{ 
  color:var(--el-text-color-regular) !important;
}

.el-header{
  box-shadow: 0 1px 4px 0 rgba(74,74,78,.12);
}

.el-drawer__header{
  margin-bottom: 0;
}

.el-input-group--prepend{
  .el-input-group__prepend{
    background-color:transparent;
    box-shadow:none;
    padding: 0;
    .el-select{
      &:hover,.el-input.is-focus {
        .el-input__wrapper{
          box-shadow:none !important;
        }
      }
     
    }
  }
}

.el-menu{
  .el-menu-item{
    // padding-left: 50px !important;
    &.is-active{
      background-color:var(--el-color-primary-light-9) ;
      border-right: 3px solid var(--el-color-primary) ;
    }
  }
}

.el-button--primary{
  --el-button-hover-bg-color: var(--el-color-primary);
  --el-button-hover-border-color: var(--el-color-primary);
  --el-button-active-bg-color: var(--el-color-primary);
  --el-button-active-border-color: var(--el-color-primary);

}
.el-message-box{
  --el-messagebox-width: 550px;
  .el-message-box__header{
    border-bottom: 1px solid #f5f2f2;
  }
  .el-message-box__content{
    padding-top: 16px;
  }
}

.el-tabs{
  .el-tabs__nav-wrap{
    .el-tabs__item{
      font-size: 16px;
      font-weight: bold;
    }
    &::after{
      background:var(--el-fill-color-light);
      box-shadow:0 2px 5px 0 rgba(0,0,0,.5);
      bottom: -2px;
    }
  }
}

.el-tree{
  .is-checked{
    .el-tree-node__content{
      // background: var(--el-color-primary-light-9);
    }
  }
}
.common-bg{
  background-color: var(--theme-common-bg-color);
}

.common-shadow{
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);

}


.el-button + .el-button{
  margin-left: 10px;
}

.option_box {
  .inline-block {
    .el-button + .el-button {
      margin-left: 0 !important;
    }
  }
}


.archivesDetailed {
  padding: 8px;
  background-color: var(--theme-table-bg-color);
  border-radius: 10px;

  ::v-deep(.el-table) {
    background-color: var(--theme-table-bg-color);
  }
}

.pagination {
  width: 100%;
  padding: 8px  10px 0 10px;
  
  background-color: var(--el-bg-color);
  display: flex;
  justify-content: flex-end;
}

.tab-container {
  .el-tabs__header {
    padding-left: 16px;
    background-color: var(--el-searchForm-bg-color);;
    margin: 0;
    border-radius: 10px 10px 0 0;
  }
}

.el-table th.el-table__cell,th.el-table-fixed-column--right{
  background-color: var(--el-color-primary-light-9) !important;
}

.el-steps{
  .is-finish,.is-success{
    .el-step__line{
      background-color: var(--el-color-primary) !important;
    }
    
  }
  .is-process{
    .el-step__icon{
      background-color:var(--el-color-primary);
      border-color: var(--el-color-primary);
      
    }
    .el-step__icon.is-text{
      color: #fff;
    }
  }

  .is-success{
    color: var(--el-text-color-regular);
    .el-step__icon {
      color: var(--el-color-primary) !important;
      border-color: var(--el-color-primary);
    }
    .el-step__line{
      border-color: var(--el-color-primary) !important;
    }
  }
}

.el-card.is-always-shadow{
  box-shadow:none;
}

.el-table__body tr.current-row>td.el-table__cell {
  background-color: #e5e9f6;
}
.el-table__cell {
  position: static !important; // 解决el-image 和 el-table冲突层级冲突问题
}

// .el-menu {
//   min-width: 170px;
// }
/* 修改滚动条轨道 */
::-webkit-scrollbar {
  width: 10px; /* 滚动条宽度 */
}

/* 设置滚动条边框 */
::-webkit-scrollbar-thumb {
  border-radius: 5px; /* 滑块圆角 */
}
.el-scrollbar {
	.el-scrollbar__bar.is-horizontal {
		height: 10px; // 添加横向高度
    //: rgba(144, 147, 153, 0.3);
	}
  // 横向滚动条
  .el-scrollbar__bar.is-horizontal .el-scrollbar__thumb {
    height: 10px; // 横向滑块的宽度
    border-radius: 2px; // 圆角度数
   // background: rgba(144, 147, 153, 0.3);
  }
}

.tips{
  color: rgba(170,170,170, $alpha: 1.0);
}
//单行超出省略号
.tooltip{
  display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
  word-break: break-all;
	text-overflow:ellipsis;
}

.stock_num_content {
  text-align: left !important;
}

.el-checkbox-group {
  &.checkbox-group_card {
    margin-right: -10px;
    margin-bottom: -10px;

    .el-checkbox.is-bordered {
      display: inline-block;
      text-align: center;
      padding: 6px 12px;
      margin: 0 8px 10px 0;
      background: #fff;

      .el-checkbox__input {
        display: none;
      }

      .el-checkbox__label {
        padding-left: 0;
        line-height: 1em;
        vertical-align: middle;
      }

      &::after {
        display: inline-block;
        content: '';
        vertical-align: middle;
        height: 100%;
      }

      &.is-checked {
        position: relative;

        &::before {
          display: block;
          content: '';
          width: 18px;
          height: 18px;
          background: url(../assets/images/icon-checked.png) 6px 6px no-repeat,
            linear-gradient(135deg, transparent 0%, transparent 50%, $color-primary 50%, $color-primary 100%);
          background-size: 12px 12px, 100%, 100%;
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
}


.el-radio-group {

  &.radio-group-box {
    .el-radio {
      margin-right: 10px;
    }

    .el-radio__input {
      display: none;
    }

    .el-radio__label {
      padding: 6px 10px;
      border-radius: 3px;
      //border: 1px solid $border-color-base;
    }

    .is-checked .el-radio__label {
      border-color: currentColor;
    }
  }
}


.el-message-box__message {
  flex: 1;
}

.el-cascader__tags {
  max-width: 140px !important;
  position: absolute;
  left: 0;
  right: 30px;
  top: 51%;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: nowrap !important;
  padding: 4px;
  gap: 6px;
  text-align: left;
  box-sizing: border-box;
}
